@media screen and (min-width: 1600px) {
  .testimonials__infoblock:nth-child(7) {
    display: block;
  }
}

@media screen and (min-width: 1401px) {
  .nav__link {
    font-size: 24px;
    line-height: 24px;
  }

  .info__about-miami {
    font-size: 64px;
    min-width: calc(314px * 1.5);
  }

  .info__paragraph {
    font-size: 24px;
  }

  .consultation__text {
    width: 40vw;
  }

  .consultation {
    align-items: center;

    &__question {
      font-size: 42px;
      line-height: 120%;
      color: $text-color-main;
    }
  
    &__paragraph {
      color: $text-color-main;
      font-size: 24px;
      line-height: 150%;
    }
  }

  .testimonials__positions {
    display: block;
  }

  .testimonials__infoblock:nth-child(5),
  .testimonials__infoblock:nth-child(6) {
    display: block;
  }

  .contact-us__contacts {
    font-size: 36px;
    line-height: 150%;
  }
}

@media screen and (max-width: 999px) {
  .header__top-content {
    flex-direction: column;
  }

  .header__phone-number,
  .header__offer {
    margin: 2vh 0 0 -7.5px;
  }

  .nav__list {
    flex-direction: column;
    margin-bottom: 4vh;
  }

  .nav__item {
    margin: 1vh 0;
  }

  .info {
    flex-direction: column;
  }

  .feedback-form {
    width: 77vw;
  }

  .consultation {
    flex-direction: column;
   
    &__text {
      display: flex;
      flex-direction: column;
      width: 77vw;
      margin: 0 auto;
      margin-bottom: 3vw;
    }
  }

  .testimonials {
    flex-direction: column;
  
    &__infoblock {
      width: 68vw;
      flex-direction: column;
      text-align: start;
      position: relative;
      margin-bottom: 3vw;
      border-bottom: 1px solid black;
    }
  
    &__photos {
      margin: 0;
      order: 2;
    }
  
    &__names {
      order: 1;
    }
  
    &__positions {
      order: 3;
      max-width: 150px;
    }
  
    &__reviews {
      position: absolute;
      top: 87px;
      left: 170px;
    }
  }

  .contact-us {
    flex-direction: column;
    text-align: center;
    &__contacts {
      margin-bottom: 1.5vw;
    }
  }
}

@media screen and (max-width: 449px) {
  .header {
    background: url(../img/panoram-small.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
  }

  .nav__list {
    flex-direction: column;
    margin: 0 10vw 0 10vw;
  }

  .heading {
    display: none;
  }

  .info {
    padding: 6vw 6.5vw;
  }

  .info__about-miami {
    text-align: center;
    font-size: 36px;
    min-width: 0px;
  }

  .info__paragraph {
    display: none;
  }

  .info__paragraph_alt {
    display: block;
    text-align: center;
  }

  .info__alt-button {
    display: block;
    @include inside-centered;
  }

  .feedback-form {
    width: 75vw;
  }

  .consultation__question {
    display: none;
  }

  .consultation__alt-question {
    display: block;
  }

  .consultation__paragraph {
    display: none;
  }

  .testimonials {
    flex-direction: column;
    padding: 8vw 10vw;
  
    &__infoblock {
      width: 200px;
      flex-direction: column;
      text-align: center;
      border: none;
      margin: 0 auto 3vw auto;
      position: static;
    }
  
    &__photos {
      margin: 0 auto;
      order: 1;
      width: 150px;
      height: 150px;
    }
  
    &__names {
      order: 2;
      max-width: 150px;
      margin: 0 auto;
    }
  
    &__positions {
      order: 3;
      max-width: 150px;
      margin: 0 auto;
    }
  
    &__reviews {
      order: 4;
      position: relative;
      max-width: 150px;
      margin: 0 auto;
      top: 0;
      left: 0;
    }

  }

  .testimonials__infoblock:nth-child(3),
  .testimonials__infoblock:nth-child(4) {
    display: none;
  }

  .testimonials__button {
    display: block;
    position: static;
    @include inside-centered;
  }

  .contact-us__contacts {
    display: none;
  }

  .contact-us__contacts {
    display: block;
    width: 80vw;
  }

  .footer {
    display: none;
  }
}