.feedback-form {
  width: 39vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__item {
    width: 100%;
    margin: 0.5vw 0;
    height: 54px;
    color: $text-color-main;
    padding: 0;
    border: none;
    background-color: $bg-color-second;
    text-indent: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  &__item::placeholder {
    text-align: center;
    font-weight: 600;
    font-size: 14px;      
    color: $text-color-main;
    text-transform: $text-case;
    text-indent: 0;
  }

  &__item:last-child {
    color: $text-color-second;
    background-color: $deco-color;
  }

  &__item:last-child:hover {
    background-color: #009FEF;
  }
}