.nav {
  display: flex;
  justify-content: center;
  
  &__list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-width: 80vw;
    padding: 0;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  &__item {
    white-space: nowrap;
  }

  &__link {
    line-height: 100%;
    font-weight: 500;
    color: $text-color-second;
    text-decoration: none;
    padding: 7px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-transform: $text-case;
    @include inside-centered;
  }

  &__link:hover {
    color: #D5C5AA;
  }

  &__link:active {
    background: #D5C5AA;
    color: $text-color-main;
  }
}