.button {
  display: block;
  color: white;
  background-color: #00AAEF;
  padding: 19px 62px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $hover-duration;
  
  &:hover {
    background-color: #2F80ED;
  }
}
