.footer {
  height: 540px;
  background-image: url(../images/footer-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  &__logo {
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
    margin: auto;
  }
}