.footer {
  height: 540px;
  background-image: url("images/footer_image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
