.section {
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 72px;

    &__button , &__input {
      box-sizing: border-box;
      display: block;
      margin-bottom: 8px;
      width: 383px;
    }
  }
}
