.gallery {
  width: 940px;
  margin: auto;
  padding-bottom: 110px;
   > p {
    line-height: 16px;
    font-weight: 500;
    margin: 12px 0 35px 0;
  }
   &__btn {
    width: 188px;
    height: 52px;
    display: block;
    margin: 9px auto 0 auto;
    background-color: $blue-color;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $btn-hover-color;
    }
  }
}

@media screen and (max-width: 970px) {
  .gallery {
    width: 100vw;
    padding-bottom: 60px;

    > p {
      width: 80vw;
      margin: 10px 10vw 20px;
    }
  }
}