@import "variables";

.header {
  height: 765px;
  max-height: 100vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  font-weight: 500;
  position: relative;
  line-height: 1;
  
  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }
  
  &__top {
    position: absolute;
    display: flex;
    left: calc(50% - #{$logo-width / 2});
    top: 35px;
    text-transform: uppercase;
    color: white;
  }
  
  &__phone {
    margin: 0 82px;
  }
  
  &__phone, &__action {
    position: relative;
    top: $logo-height * 0.62;
    white-space: nowrap;
  }
  
  &__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: color $hover-duration;
    
    &:hover {
      color: $light-active-color;
    }
  }
}

@media screen and (max-width: 999px) {
  
  .header{
    &__top {
      flex-direction: column;
    }
    
    &__phone{
      margin: 20px 0;
    }
    
    &__phone, &__action {
      top: 0;
    }
  }
}
