.header {
  background: #043137 url(../img/header-bg.jpg) center no-repeat / cover;
  height: 100vh;
  padding: 35px 0;

@include mobileL {
  height: 70vh;
  padding: 35px 0 10px;
}


  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: $logo-height;

    @include mobile {
      flex-direction: column;
      justify-content: flex-end;
    }

    @include mobileL {
      align-items: center;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__tel {
    color: $light-color;

    @include mobile {
      margin-bottom: 5px;
    }

    @include mobileL {
      position: relative;
      top: 70px;
    }
  }

  &__call {
    color: $light-color;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    margin-left: 80px;
    text-decoration: none;

    &:hover {
      color: $hover-color;
    }

    @include mobile {
      margin-left: 0;
    }

    @include mobileL {
      position: relative;
      top: 70px;
    }
  }
}
