.info {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 156px auto;

  &__heading {
    width: 314px;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
  }

  &__paragraphs {
    width: 564px;
    font-weight: 400;
    line-height: 24px;

    >:first-child {
      margin-top: 0;
    }
    
    >:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 970px) {
  .info {
    width: 80vw;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;

    &__paragraphs {
      margin-top: 16px;
      width: 80vw;
      margin-left: 10vw;
      margin-right: 10vw;
    }
  }
}
