.input {
  font-size: 14px;
  font-weight: 500;
  color: #393939;
  padding: 24px;
  background-color: #EEEEEE;
  box-sizing: border-box;
  line-height: 1;
  
  &::placeholder {
    color: inherit;
    text-transform: uppercase;
    text-align: center;
  }
  
  &_textarea {
    height: 166px;
  }
}
