/* Mixins */
@mixin main-font {
  font-family: 'Ubuntu', sans-serif;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin tablet {
  @media (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin mobileL {
  @media (max-width: #{$mobileL-max-width}) {
    @content;
  }
}

@mixin mobileS {
  @media (max-width: #{$mobileS-max-width}) {
    @content;
  }
}