.nav {

  &__menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item {

    @include mobile {
      padding-bottom: 10px;
    }
  }

  &__link {
    text-decoration: none;
    color: $light-color;
    white-space: nowrap;

    &:hover {
      color: $hover-color;
    }

    &_active {
      padding: 7px 20px;
      background-color: $hover-color;
      color: $main-color;
      border-radius: 10px;

      &:hover {
        color: inherit;
      }
    }

    @include mobile {
      font-size: 20px;
    }
  }
}
