.person {
  text-align: center;
  
  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  &__name {
    margin: 12px 0 0 0;
    font-weight: 700;
  }
  
  &__position {
    margin: 0;
    color: #696973;
    font-style: italic;
  }
  
  &__text {
    position: relative;
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 30px;
      background-image: url("../images/quotes.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: calc(100% + 10px);
      bottom: calc(100% + 6px);
    }
  }
}
