.section2 {
  height: 1257px;
  background-color: #EEEEEE;
  position: relative;
  align-items: center;
  padding-bottom: 65px;

  &__heading {
    @include heading_position;
  }

  &__gallery {
    padding: 156px calc(50% - 470px) 0;
    font-weight: 500;
    line-height: 16px;
    transition: $transition;

    &__button {
      margin: 44px auto;
    }

    &__paragraphs {
      margin: 12px 0 35px;
    }
  }
}

.heading {
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  line-height: 1;
  width: max-content;
  white-space: nowrap;

  &%underline {
    content: "";
    position: absolute;
    width: calc(50% - 19.5px);
    height: 2px;
    display: block;
    top: calc(100% + 5px);
    background-color: #00aaef;
  }

  &::before {
    @extend %underline;
    left: 0;
  }

  &::after {
    @extend %underline;
    right: 0;
  }

  &_crown {
    height: 13px;
    width: 20px;
    background: url("images/crown.svg");
    position: absolute;
    bottom: -17px;
    left: calc(50% - 10px);
  }
}


.photos {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - 10px);
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  &_wide_left {
    .photos__img {
      &:first-child {
        width: calc(67% - 10px);
      }

      &:last-child {
        width: calc(33% - 10px);
      }
    }
  }

  &_wide_right {
    .photos__img {
      &:last-child {
        width: calc(67% - 10px);
      }

      &:first-child {
        width: calc(33% - 10px);
      }
    }
  }
}

.button {
  display: flex;
  background-color: $color_highlight;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 19px 62px;
  text-transform: uppercase;
  cursor: pointer;
  transition: $transition;
  font-family: inherit;

  &:hover {
    background-color: #2f80ed;
  }

  &:active {
    background-color: lightgrey;
    color: #2f80ed;
  }
}
