.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 35px 0;

    &_header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
}
