.header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    &__top {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 76px;
    }

    &__logo {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__tel {
        color: $light-color;
        
    }

    &__call {
        color: $light-color;
        text-transform: uppercase;
        border-bottom: 1px dashed;
        margin-left: 80px;
        text-decoration: none;
    }
}
