.phone-number {
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  line-height: 2;
  
  &__link {
    color: $link-color;
    border-bottom: dashed 1px;
    text-decoration: none;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1279px) {
  .phone-number {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .phone-number {
    line-height: 6;
  }
}