.footer
  height: 540px
  background-image: url("../../im/footer.png")
  background-size: cover
  background-position: center
  font-weight: 500
  position: relative
  line-height: 1

  &__logo
    position: absolute
    bottom: 95px
    margin: auto
    left: 0
    right: 0
