html, body, input, ul, li, button, textarea, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: none;
}

strong {
  font-weight: 500;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400
}

a {
  text-decoration: none;
}
