.title {
  position: relative;
  width: max-content;
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;

  &%title-underline {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    width: calc(50% - 19.5px);
    height: 2px;
    background-color: $main-color;
  }

  &:before {
    @extend %title-underline;
    left: 0;
  }

  &:after {
    @extend %title-underline;
    right: 0;
  }

  &__crown {
    position: absolute;
    display: block;
    width: 20px;
    height: 13px;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(images/title/crown.svg);
  }
}
