$light-color: #fff;
$darken-light: darken($light-color, 20%);
$text-color: #000;
$main-color: #00aaef;

$container-max-width: 1200px;
$container-sm-width: 90%;
$container-md-width: 85%;
$container-lg-width: 75%;

$break-point-lg: 1024px;
$break-point-md: 768px;
$break-point-sm: 425px;
