.vision {
  position: relative;
  text-align: center;
  background-color: #e5e5e5;
  margin-top: -239px;
  padding: 300px 0 150px 0;
  color: #253757;
  z-index: 0;
}

.vision-head {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
}

.vision-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  width: 754px;
  margin: 57px auto;
}

.vision-button {
  width: 226px;
  height: 56px;
  padding: 17px 89px;
  background-color: #56ccf2;
  color: white;
  border-width: 0;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  outline: none;
}

.pins {
  position: absolute;
}

.pin1 {
  top: 251px;
  left: 329px;
}

.pin2 {
  top: 251px;
  left: 108px;
}

.pin3 {
  top: 606px;
  left: 310px;
}

.pin4 {
  top: 416px;
  left: 160px;
}

.pin5 {
  top: 504px;
  left: 52px;
}

.pin6 {
  top: 632px;
  left: 86px;
}

.pin7 {
  top: 272px;
  right: 30px;
}

.pin8 {
  top: 569px;
  right: 165px;
}

.pin9 {
  top: 418px;
  right: 81px;
}

.pin10 {
  top: 271px;
  right: 173px;
}

.pin11 {
  top: 514px;
  right: 297px;
}

.pin12 {
  top: 646px;
  right: 469px;
}
