@mixin button($line) {
  background-color: $special-color;
  color: $link-color;
  font-size: 14px;
  line-height: $line;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: rgb(249, 253, 0);
    color: black;
    box-sizing: border-box;
    border: black dashed 1px;
  }
}
 