.input {
  background-color: $usefull-color;
  text-align: center;
  width: 100%;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;

  
  &::placeholder {
    color: #393939;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
  }
}