.phone-number {
    display: flex;
    white-space: nowrap;
  
    &__link {
      margin-left: 82px;
      color: $link-color;
      border-bottom: dashed 1px;
      text-decoration: none;
  
      &:hover {
        color: $active-color;
        transition: 0.5s;
      }
    }
  }

@media screen and (max-width: $max-width) {

  .phone-number {
    flex-direction: column;

    &__link {
      margin-left: 0;
    }
  }
}
  