.title {
    width: 314px;
  
    &__style {
      font-weight: 300;
      font-size: 48px;
      line-height: 60px;
      text-transform: uppercase;
    }
  
    &__special-color {
      color: $special-color;
    }
  }
  