.section-consultation {
  padding: 153px 160px 145px;
  justify-content: center;
  position: relative;

  &__heading-block {
      position: absolute;
      top: -0.53em;
    }

  &__info {
    font-weight: 400;
    margin-right: 72px;

    &_heading {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }

    &_text {
      line-height: 1.5;
      width: 480px;
    }
  }

}

@media screen and (max-width: $max-width) {
  .section-consultation {
    flex-direction: column;
    align-items: center;

    &__info {
      margin-right: 0;

      &_text {
        width:383px;
      }
    }
  }

  .form {
    margin-top: 20px;
  }

}