.section-about {
    display: flex;
    justify-content: center;
    padding: 156px 160px;

    &__title, &__info {
      margin: 0 31px;
    }
  }

@media screen and (max-width: $max-width) {

  .section-about {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__info {
      margin-top: 24px;
    }  
  }
}
  