.section-testimonials {
  padding: 106px 250px 70px;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;

  &__heading-block {
    position: absolute;
    top: -0.53em;
  }
}

@media screen and (max-width: $max-width) {
  .testimonials {
    flex-direction: column;
  }

  .testimonials__block:nth-child(2) {
    margin: 30px 30px;
  }
}