.section-gallery {
    background-color: #eee;
    padding: 112px 159px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    &__title-block {
      position: relative;
      top: -26px;
    }
  
    &__title {
      font-weight: 300;
      font-size: 48px;
      line-height: 48px;
      text-transform: uppercase;
  
      &_after {
        display: flex;
  
        &-side {
          height: 2px;
          background-color: $special-color;
        }
      }
    }
  
    
  }
  