body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

h1, h2, p, button {
  margin: 0;
  padding: 0;
  border: 0;
}

.section:nth-child(even) {
  background-color: #eee;
}

.heading-block {
  font-size: 48px;
  display: flex;
  flex-direction: column;
}
.heading-block__heading {
  font-weight: 300;
  line-height: inherit;
  font-size: inherit;
  text-transform: uppercase;
}
.heading-block__decoration {
  width: inherit;
  display: flex;
  justify-content: space-between;
}
.heading-block__decoration_side {
  width: calc(50% - 21px);
  height: 2px;
  background-color: #00AAEF;
}
.heading-block__decoration_centre {
  width: 23px;
  height: 16px;
  background-image: url("../images/logo_small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  width: 564px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.5;
}
.info_paragraph-2 {
  font-weight: 400;
  margin: 24px 0;
}

.light-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-menu__item {
  margin: 0 22.5px;
  padding: 7px 20px;
  border-radius: 10px;
  white-space: nowrap;
}
.light-menu__item_is-active {
  background-color: #D5C5AA;
  color: black;
}
.light-menu__link {
  text-decoration: none;
  color: white;
}
.light-menu__link:hover {
  color: #D5C5AA;
  transition: 0.5s;
}

@media screen and (max-width: 999px) {
  .light-menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .light-menu__item_is-active {
    margin-left: 42.5px;
  }
}
.logo__img {
  width: 115px;
  height: 76px;
}

.phone-number {
  display: flex;
  white-space: nowrap;
}
.phone-number__link {
  margin-left: 82px;
  color: white;
  border-bottom: dashed 1px;
  text-decoration: none;
}
.phone-number__link:hover {
  color: #D5C5AA;
  transition: 0.5s;
}

@media screen and (max-width: 999px) {
  .phone-number {
    flex-direction: column;
  }
  .phone-number__link {
    margin-left: 0;
  }
}
.photo-block {
  display: flex;
  flex-direction: column;
}
.photo-block__top, .photo-block__average, .photo-block__bottom {
  margin-bottom: 35px;
  display: flex;
}
.photo-block__top img:first-child, .photo-block__average img:first-child, .photo-block__bottom img:first-child {
  margin-right: 20px;
}
.photo-block__big-photo {
  width: 620px;
  height: 260px;
}
.photo-block__middle-photo {
  width: 462px;
  height: 260px;
}
.photo-block__small-photo {
  width: 301px;
  height: 260px;
}
.photo-block__description {
  margin-top: 12px;
}
.photo-block__description_special-color {
  color: #00AAEF;
}

@media screen and (max-width: 999px) {
  .photo-block__top, .photo-block__average, .photo-block__bottom {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .photo-block__description {
    margin-bottom: 12px;
  }
}
.title {
  width: 314px;
}
.title__style {
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}
.title__special-color {
  color: #00AAEF;
}

.header {
  height: 765px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 100vh;
  color: white;
  text-transform: uppercase;
}
.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  display: flex;
  justify-content: center;
}
.header__phone-number {
  position: absolute;
  left: calc(50% + 139px);
  top: 82px;
}
.header__light-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

@media screen and (max-width: 999px) {
  .header__phone-namber {
    left: calc(50% + 80px);
  }
}
.section-about {
  display: flex;
  justify-content: center;
  padding: 156px 160px;
}
.section-about__title, .section-about__info {
  margin: 0 31px;
}

@media screen and (max-width: 999px) {
  .section-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section-about__info {
    margin-top: 24px;
  }
}
.section-gallery {
  padding: 112px 159px 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section-gallery__heading-block {
  position: absolute;
  top: -0.53em;
}
.section-gallery__button {
  width: 188px;
  height: 52px;
  background-color: #00AAEF;
  color: white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 9px;
}

.section-consultation {
  padding: 153px 160px 145px;
  display: flex;
  justify-content: center;
  position: relative;
}
.section-consultation__heading-block {
  position: absolute;
  top: -0.53em;
}

.footer {
  height: 765px;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 100vh;
}
.footer__logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 95px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
