.heading_gal {
  left: calc(50% - 97px);
  top: -26px;
}
.gallery {

  .photos {
    display: flex;
    justify-content: space-between;

    &__img {
      width: calc(50% - 15px);
      height: 260px;
      object-fit: cover;
      object-position: center;
    }

    &_left &__img{
      &:first-child {
        width: calc(67% - 15px);
      }

      &:last-child {
        width: calc(33% - 15px);
      }
    }

    &_right &__img{
      &:first-child {
        width: calc(33% - 15px);
      }

      &:last-child {
        width: calc(67% - 15px);
      }
    }
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 35px;
  }

  &__link {
    text-decoration: none;
    color: #00AAEF;
  }

  &__botton {
    background-color: #00AAEF;
    border: none;
    text-transform: uppercase;
    width: 188px;
    height: 52px;
    color: #fff;
    padding: 0;
    position: relative;
    left: calc(50% - 94px);
    margin-top: 44px;
    border: 1px solid #00AAEF;

    &:hover {
      background-color: #fff;
      color: #00AAEF;

    }
  }
}

@media (max-width: 750px){
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    .photos {
      flex-direction: column;
      align-items: center;
      &__img {
        margin-top: 10px;
      }
    }

    &__botton {
      left: 0;
    }
  }
}
