.contact {
  display: flex;
  flex-direction: column;
  align-items: center;;

  &__block {
    flex-direction: column;
    align-items: center;;
    display: flex;
    margin-bottom: 90px;
  }

  &__heading {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -28px;
    position: relative;

    &::before {
      content: "";
      background-color: #00aaef;
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 42%;
    }

    &::after {
      content: "";
      background-color: #00aaef;
      position: absolute;
      bottom: -2px;
      right: 0;
      height: 2px;
      width: 42%;
    }
  }

  &__info {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 267px;
    width: 379px;

    & > input {
      background: #eee;
      height: 54px;
      text-align: center;
      margin-bottom: 8px;
      border-style: none;
      text-transform: uppercase;
      font-weight: 500;

      &::placeholder {
        color: #000;
      }
    }
  }

  &__feedback {
    height: 166px;
    background: #eee;
    resize: none;
    border-style: none;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;

    &::placeholder {
      text-align: center;
      color: black;
    }

    & ~ button {
      height: 54px;
      background-color: #00aaef;
      border-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      transition: all 0.4s;
      margin-bottom: 65px;

      &:hover {
        font-size: 18px;
        background-color: #2f80ed;
        cursor: pointer;
      }
    }
  }

  &__articles > p {
    font-weight: 400;
    font-size: 24px;
    line-height: $basic-line-height;

    &:first-child {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 999px) {
  .contact__info {
    flex-direction: column;
    align-items: center;
  }

  .contact__form {
    margin: 30px auto;
    max-width: 302px;
  }
}
