.consultation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__block {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 123px;
  }

  &__heading {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -28px;
    position: relative;

    &::before {
      content: "";
      background-color: #00aaef;
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 42%;
    }

    &::after {
      content: "";
      background-color: #00aaef;
      position: absolute;
      bottom: -2px;
      right: 0;
      height: 2px;
      width: 42%;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 145px;
  }

  &__head {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
    margin-bottom: 24px;
  }

  &__article {
    max-width: 480px;
    font-size: 16px;
    line-height: $basic-line-height;
    margin-right: 72px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 383px;

    > button {
      background-color: #00aaef;
      height: 54px;
      width: 383px;
      border-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      transition: all 0.4s;

      &:hover {
        font-size: 18px;
        background-color: #2f80ed;
        cursor: pointer;
      }
    }

    &_input {
      background: #eee;
      height: 54px;
      width: 383px;
      text-align: center;
      margin-bottom: 8px;
      border-style: none;
      text-transform: uppercase;
      font-weight: 500;

      &::placeholder {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .consultation__row {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

    button, .consultation__form_input {
      margin: 20px 0;
    }
  }

  .consultation__article {
    margin-right: 0;
  }

  .consultation__form {
    max-width: 302px;
    margin-top: 20px;
  }
}
