@media screen and (max-width:1024px) {
    .nav__item {
        margin-left: 1%;
            }

    .header__phone {
        padding: 0 0;
        margin: 0 8%;
                }

@media screen and (max-width:860px) {
    .nav__menu {
flex-direction: column;
    }

    .nav__item {
        max-width: fit-content;
        margin-left: 20px;
        padding: 5px 10px;
            }

    .header {
        
        &__top {
        flex-direction: column;
            }

        &__top, &__phone {
                padding: 10px 0;
                text-align: center;
               }
           }

    .section {
            padding: 20px 20px;
        }

    .info {
        flex-direction: column;

        &__heading {
            margin-top: 20px;
        }
    }
    .gallery__photo {
        padding-top: 30px;
      }
  }
}