.section {
    padding: 156px calc(50% - 470px);
    
    &:nth-child(even) {
        background-color: #F2F2F2;    
    }
}

.info {
    display: flex;
    justify-content: space-between;
    
    &__heading {
        font-weight: 300;
        font-size: 48px;
        text-transform: uppercase;
        width: 314px;
        margin: 0;
    }

    &__description {
        max-width: 564px;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.blue-text {
    color: #00aaef;
}

.gallery {

    &__heading {
      font-size: 48px;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      width: max-content;

      &::before, &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background-color: #00AAEF;
          bottom: 0;
          width: 75px;
      }

      &::before {
        left: 0;
      }
            
      &::after {
        right: 0;
      }
  }
}
