.heading {
    display: block;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    width: max-content;
    text-transform: uppercase;
    white-space: nowrap;

    &::before {
        @include line;
        left: 0;
    }

    &::after {
        @include line;
        right: 0;
    }

    &__crown {
        display: block;
        position: absolute;
        width: 20px;
        height: 13px;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        margin: auto;
        background-image: url(./files/photos/logo__text.png);

        // background-color: aqua;
    }
}

.button {
    display: block;
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: $focus_color;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #2f80ed;
        transition: $transition;
    }
}

.gallery {
    .block {
        display: flex;
        justify-content: space-between;
        &__photos {
            width: calc(50% - 10px);
            height: 260px;
            object-fit: cover;
        }

        &_photos_left {
            .block__photos:first-child {
                width: calc(67% - 20px);
            }
            .block__photos:last-child {
                width: 33%;
            }
        }
    
        &_photos_right {
            .block__photos:first-child {
                width: 33%;
            }
            .block__photos:last-child {
                width: calc(67% - 20px);
            }
        }
    }

    p {
        @include linefocus;
        font-weight: 500;
        margin: 12px 0 35px 0;
    }

    &__button {
        padding: 19px 62px; 
        font-size: 14px;
        margin: auto;
    }
}
