@import "_reset";
@import "mixins";
@import "variables";

/* Header */
.header {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 765px;
  padding-top: 35px;
  position: relative;
  &-top {
    position: absolute;
    display: flex;
    left: calc(50% - #{$logo-width / 2});
    &__block {
      position: relative;
      top: $logo-height * 0.62;
      white-space: nowrap;
    &_logo {
      width: $logo-width;
      height: $logo-height;
    }
    &_phone {
      margin-left: 82px;
      @include header-top-styles;
    }
    &_order {
      @include header-top-styles;
      border-bottom: 1px dashed #fff;
      margin-left: 82px;
    }
    }
  }
  &__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    &__list {
      display: flex;
      justify-content: center;
      margin: 0;
      list-style-type: none;
      .nav__item {

        text-decoration: none;
        margin-right: 22.5px;
        padding: 7px 20px;
        &_active {
          color: black;
          background: $color-hover;
          border-radius: 10px;
        }
        .nav__link {
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: $color-hover;
          }
        }
      }
    }
  }
}

//.nav__item {
//  text-decoration: none;
//  margin-right: 22.5px;
//  padding: 7px 20px;
//  &_active {
//    color: black;
//    background: $color-hover;
//    border-radius: 10px;
//  }
//}

.nav__link,
.header-top_order_link{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $color-hover;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 156px calc(50% - 470px);
  &__header {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__text {
    width: 564px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    & > :first-child {
      margin-top: 0;
    }
  }
}

.light_color {
  color: $light-color;
}

/* GALLERY SECTION */
.gallery {
  background-color: #eee;
  position: relative;
  padding: 112px calc(50% - 470px);

  &__bottom-underline {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    height: 50px;

    &_line {
      width: 75px;
      height: 2px;
      background-color: #00aaef;
      margin: 8px 9px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    &_first-box,
    &_second-box,
    &_third-box {
      display: flex;
    }
    &_button {
      box-sizing: border-box;
      width: 188px;
      background-color: $light-color;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding: 15px 60px;
      font-weight: 500;
      font-size: 14px;
      margin: auto;
      &:hover {
        background-color: white;
        color: $light-color;
        border: 1px solid $light-color;
      }
    }
  }
}
.bottom-underline_picture {
  height: 16px;
}
.picture_1,
.picture_3,
.picture_5 {
  margin-right: 16px;
}

.about_picture {
  margin: 12px 0 35px 0;
}
/* CONSULTATION */
.consultation {
  position: relative;
  &__bottom-underline {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    height: 50px;

    &_line {
      width: 152px;
      height: 2px;
      background-color: $light-color;
      margin: 0;
    }
  }
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -66px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  height: 48px;
}

.consultation__main {
  display: flex;
  justify-content: space-between;
  padding: 153px calc(50% - 468px);
  &_first-box {
    display: flex;
    flex-direction: column;
    margin-right: 72px;
    &_question {
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 24px;
    }
    &_info {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      width: 480px;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    &-input {
      width: 383px;
      height: 54px;
      background-color: #eee;
      margin-bottom: 10px;
      border: none;
      &::placeholder {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 36px;
        color: #393939;
      }
    }
  }
}
/* TESTIMONUALS SECTION */
.testimonials {
  position: relative;
  background-color: #eee;
  padding: 106px calc(50% - 368px);
  &__bottom-underline {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    height: 50px;
  &_line {
    width: 142px;
    height: 2px;
    background-color: $light-color;
    margin: 0;
  }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    &_card{
      display: flex;
      flex-direction: column;
      width: 200px;
      margin-right: 71px;
      align-items: center;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.photo_card {
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
}

.about_card {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.name_card {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.position_card {
  font-style: italic;
  color: #393939;
}

.button {
  box-sizing: border-box;
  width: 383px;
  background-color: $light-color;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 11px 140px;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  &:hover {
    background-color: white;
    color: $light-color;
    border: 1px solid $light-color;
  }
}

/* CONTACTS US */
.contacts {
  //height: 535px;
  position: relative;
  padding: 120px calc(50% - 462px);

  &__bottom-underline {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    height: 50px;

    &_line {
      width: 122px;
      height: 2px;
      background-color: $light-color;
      margin: 0;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
    }

    &-right {
      display: flex;
      flex-direction: column;
    }

    &_form-input {
      width: 383px;
      height: 54px;
      background-color: #eee;
      margin-bottom: 10px;
      border: none;

      &::placeholder {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 36px;
        color: #393939;
      }
    }

    &_form-textarea {
      width: 379px;
      height: 166px;
      background-color: #eee;
      border: none;
      margin-bottom: 7px;

      &::placeholder {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 36px;
        color: #393939;
      }
    }
  }
}

/* Footer */
.footer {
  background-image: url("../images/footer_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 540px;
  position: relative;

  &__logo {
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

  @media (max-width: 999px) {
    .header {
      &-top {
        display: flex;
        flex-direction: column;

        &__block {
          display: flex;
          flex-direction: column;

          &_phone,
          &_order {
            margin-left: 0;
          }
        }
      }
      &__nav {
        margin-top: 500px;
        &__list {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .gallery__main_first-box,
      .gallery__main_second-box,
      .gallery__main_third-box {
        margin: auto;
      }

      .picture_1,
      .picture_2,
      .picture_3,
      .picture_4,
      .picture_5,
      .picture_6 {
        background-size: contain;
        width: 303px;
        height: 171px;
      }

      .about_picture {
        display: inline-block;
        text-align: center;
      }

      .consultation__main {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

      }

      .consultation__main_first-box {
        text-align: center;
        margin-right: 0;
      }

      .testimonials__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_card {
          margin-right: 0;
        }
      }

      .contacts__main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

