.button {
  display: block;
  color: white;
  background-color: #5F4B8B;
  padding: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $hover-duration;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  border: none;
  width: 200px;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;

  &:after {
    content: "";
    background: #5F4B8B;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #5F4B8B;
    color: #000;
  }

  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  &:focus { outline:0; }
}







