.photos {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - 10px);
    height: 260px;
    object-fit: cover;
  }

  &_wide_right {
    .photos__img{
      &:first-child {
        width: calc(40% - 10%);
      }
      &:last-child {
        width: calc(77% - 10%);
      }
    }
  }

  &_wide_left {
    .photos__img{
      &:first-child {
        width: calc(77% - 10%);
      }
      &:last-child {
        width: calc(40% - 10%);
      }
    }
  }
}
