@import "_reset";

$logo-width: 115px;
$logo-height: 76px;
$light-color-active: #D5C5AA;
$hover-duration: 0.2s;

.header {
     height: 765px;
     background-image: url("../../images/header_img.jpg");
     background-size: cover;
     background-position: center;
     font-weight: 500;
     position: relative;

     &__nav {
         position: absolute;
         left: 0;
         right: 0;
         bottom: 25px;
     }

     &__top {
         position: absolute;
         display: flex;
         left: calc(50% - #{$logo-width/2});
         top: 35px;
         text-transform: uppercase;
         color: white;
     }

     &__link {
         color: white;
         text-decoration: none;
         border-bottom: 1px dashed;
         transition: color $hover-duration;
         
         &:hover{
             color: $light-color-active;
             
         }
     }

     &__phone {
         margin: 0 82px;
     }

     &__phone, &__action {
         top: $logo-height * 0.62;
         white-space: nowrap;
     }
}

.logo {
    height: $logo-height;
    width: $logo-width;
}

.nav {
    &__list {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    }

    &__item {
    margin: 0 22.5px;
    padding: 7px 20px;
    text-transform: uppercase;
    white-space: nowrap;

    &_active {
    background-color: $light-color-active;
    border-radius: 10px;  
        }
    }

    &__link {
        color: white;
        text-decoration: none;
        transition: color $hover-duration;
        
        &:hover {
            color: $light-color-active;
        }
    }
}

@media screen and (max-width: 999px) {
   .nav__item {
       margin: 0 4px;
   }
}

@media screen and (max-width: 599px) {
    .header {
        &__top {
        flex-direction: column;
    }

    &__phone {
        margin: 20px 0;
    }

    &__phone, &__action {
        top: 0;
    }
}

    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}