

.footer { //footer of site 
  position: relative;
  height: 540px; 
  background-image: url('../images/footer.jpg');  
  background-size: cover;
  background-position: center;

  &__logo { //logo position in footer 
    position: absolute;
    bottom: 95px;
    margin: auto;
    left: 0;
    right: 0; 
  }
}