.footer {
  height: 540px;
  background-image: url("../images/background-bottom.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    position: absolute;
    bottom: 95px;
    margin: auto;
    left: 0;
    right: 0;
  }
}
