
.section {  //all blocks after header
  padding: 156px calc(50% - 470px);
  position: relative;

  &:nth-child(even) {
    background-color: #eee; 
  }

  &__title {
    position: absolute;
    margin: 0 auto;
    top: calc(-0.5em);
    left: 0;
    right: 0; 
    display: block; 
    max-width: max-content; 
    font-size: 48px;
    line-height: 1; 
    font-weight: 300; 
    text-transform: uppercase;

    &::before, &::after { 
      content: ""; 
      position: absolute;
      bottom: -5px;
      display: block; 
      width: calc(50% - 19.5px); 
      height: 2px;
      background-color: #00AAEF;
    }

    &::before {
      left: 0; 
    }

    &::after {
      right: 0; 
    }
  }

  &__crown {
    position: absolute;
    display: block; 
    width: 20px; 
    height: 13px; 
    background-image: url('../images/crown.svg'); 
    top: calc(100% + 4px); 
    margin: auto; 
    left: 0;
    right: 0;
  }
}


@media screen and (max-width: 799px) {
  .section {
    padding: 20px 5px;  
  }
}

@media screen and (max-width: 349px) {
  .section {

    &__title { 
      font-size: 30px;
    }
  }
}