
.consult {
  padding: 0 calc(50% - 574px) calc(50% - 574px);
  position: relative;
  color: black;
}



.consult_items {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.items_text,
.items_form {
  width: calc(50% - 36px);
}

.text_head {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.text_note {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.items_form {
  input {
    font-size: 18px;
    font-weight: bold;
    height: 54px;
    width: 100%;
    margin-bottom: 8px;
    background-color: #eee;
    border-width: 0;
  }
}

::placeholder {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}

input[type="button"] {
  background-color: #00aaef;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: white;
  cursor: pointer;
}
