.consultation {
    @include section-common-styles;

    &__content {
        width: $section-content-width;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 480px;
    }

    &__article-heading {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    &__form {
        width: 383px;
    }
}

@media screen and (max-width: #{$small-screen-breakpoint}) {
    .consultation {
        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__text {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 549px) {
    .consultation {
        &__form {
            width: 70vw;
        }

        &__content {
            width: 95vw;
        }
    }
}

@media screen and (max-width: 339px) {
    .consultation__heading {
        font-size: 45px;
    }
}