.contact {
    min-height: 540px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        left: 0;
        right: 0;
        margin: auto;
        top: -0.5em;
    }

    &__content {
        width: 70vw;
        min-height: 242px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        font-size: 24px;
        max-width: 276px;

        > p:first-child {
            margin-top: 0;
        }
    }

    &__form {
        width: 379px;
    }
}

@media screen and (max-width: #{$small-screen-breakpoint}) {
    .contact {
        padding: 70px 0;

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__info {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 549px) {
    .contact__form {
        width: 70vw;
    }
}