.gallery {
  padding: 0 calc(50% - 574px) calc(50% - 600px);
  position: relative;
  background-color: #eee;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  & img {
    width: calc(50% - 10px);
    height: 260px;
    object-fit: cover;
  }

  &_photos {
    margin: 48px auto;
    .photos {
      display: flex;
      justify-content: space-between;
    }
  }
}

.top_photos img:nth-child(1) {
  width: calc(67% - 10px);
}

.top_photos img:nth-child(2) {
  width: calc(33% - 10px);
}

.bottom_photos img:nth-child(2) {
  width: calc(67% - 10px);
}

.bottom_photos img:nth-child(1) {
  width: calc(33% - 10px);
}

.galerry_caption {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.highlight {
  color: #00aaef;
}

button {
  border-width: 0;
}

.gallery_button {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #00aaef;
  padding: 19px 63px;
  cursor: pointer;
}

.gallery_crown {
  position: absolute;
  width: 23px;
  height: 16px;
  display: block;
  top: calc(100% + 4px);
  right: 0;
  left: 0;
  margin: auto;
  background-image: url("../images/crown1.svg");
  background-repeat: no-repeat;
}
