%photo-size {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1234px) {
  ul.head-contact {
    flex-direction: column;
    align-items: center;
    top: 150px;
    right: 51px;
  }
}

@media screen and (max-width: 977px) {
  .nav-item {
    margin: 0 5px;
    transition: 0.5s;
  }

  .heading {
   font-size: 44px;
  }
  
  .head-nav-items {
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
  }

  .info-block p {
    text-align: center;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }

  .info-text p {
    max-width: 300px;
  }

  .gallery {
    margin-bottom: 40px;
  }
  .photos {
    flex-direction: column;
    align-items: center;
  }
  .gallery_photos {
    & img {
      width: 300px;
      height: 300px;
      margin-bottom: 10px;
    }
    & p {
      text-align: center;
    }
  }

  .top_photos img:nth-child(1), .bottom_photos img:nth-child(1),
  .bottom_photos img:nth-child(2),
  .top_photos img:nth-child(2) {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  .consult_items {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .consult {
    padding-bottom: 60px;
    margin-top: -43px;
  }
  .items_text,
  .items_form {
    width: 300px;
  }

  .testimony_items {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .testimony {
    padding-bottom: 60px;
  }
  .items_block {
    width: 240px;
    margin-bottom: 10px;
  }
  .contact_block {
    flex-direction: column;
    align-items: center;
  }

  .block_detail,
  .contact_form {
    width: 300px;
  }
}
