.info {
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &__content {
        width: 70vw;
        display: flex;
    }

    &__article {
        line-height: 24px;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        min-width: 314px;
        text-transform: uppercase;
        margin-right: 62px;
    }
}

@media screen and (max-width: $small-screen-breakpoint) {
    .info {
        &__content {
            flex-direction: column;
        }

        &__heading {
            margin-bottom: 16px;
            min-width: 0;
        }
    }
}