@import "reset";
@import "galery-styles";
@import "consultation-styles";
@import "testimonials-styles";
@import "contact-styles";
@import "foot-styles";
@import "media-styles";

%flex-style {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

$size: 16px;

.header {
  background-image: url("../images/main.jpg");
  background-size: cover;
  background-position: center;
  height: 765px;
  font-weight: 500;
  position: relative;
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 32px;
    width: 115px;
    height: 76px;
  }
}

.head-contact {
  @extend %flex-style;
  position: absolute;
  top: 82px;
  left: 0;
  right: 160px;
  margin: 0;
}

.contact-link {
  color: white;
  font-size: $size;
  text-decoration: none;
  margin: 0 41px;
  text-transform: uppercase;
}

.call {
  border-bottom: 1px dotted white;
}

.head-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
}

.head-nav-items {
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 22.5px;
  padding: 7px 20px;
  font-size: $size;
}

.button {
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.item-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;

  &:hover {
    color: #d5c5aa;
  }
}

.main {
  padding: 156px 160px;
  color: black;
  .info {
    display: flex;
    justify-content: space-between;
    .info-block {
      text-transform: uppercase;
      max-width: 314px;
      font-weight: 300;
      font-size: 48px;
      line-height: 60px;
      p {
        margin: 0;
      }
      .bold {
        font-weight: bold;
      }
      .blue {
        color: aqua;
      }
    }
    .info-text {
      max-width: 564px;
      margin-top: -10px;
      p {
        line-height: 24px;
        font-style: normal;
        font-weight: 500;
        span {
          font-weight: bold;
        }
      }
    }
  }
}








