.footer {
  height: 540px;
  background-image: url('../../images/footer.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    position: absolute;
    display: flex;
    bottom: 95px;
    left: calc(50% - #{ $logo-width / 2 });
  }
}

@media screen and (max-width: 999px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__top {
    flex-direction: column;
  }

  .header__phone {
    margin: 20px 0;
  }

  .header__phone, .header.action{
    top: 0;
  }

  .section {
    padding: 20px;
  }
}