.footer {
  position: relative;
  height: 540px;
  background-image: url("../images/footer-background.jpg");
  background-size: cover;
  background-position: center;
  
  &__logo {
    position: absolute;
    bottom: 95px;
    margin: auto;
    left: 0;
    right: 0;
  }
}