.heading {
  position: absolute;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  width: max-content;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: calc(50% - 20px);
    top: calc(100% + 5px);
    background-color: $main-color;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__crown {
    position: absolute;
    display: block;
    width: 20px;
    height: 13px;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: auto;
    background-image: url("../../src/images/crown.svg");
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .heading {
    font-size: 38px;
  }
}