.header {
  font-weight: 500;
  height: 765px;
  background: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }

  &__top {
    position: absolute;
    display: flex;
    top: 35px;
    left: calc(50% - #{$logo-width / 2});
    text-transform: uppercase;
    color: white;
  }

  &__phone, &__action {
    position: relative;
    top: $logo-height * 0.62;
    white-space: nowrap;
  }

  &__phone {
    margin: 0 82px;
  }

  &__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: color $hover-duration;

    &:hover {
      color: $light-active-color;
    }
  }
}

@media screen and (max-width: 999px) {
  .header {
    &__phone, 
    &__action {
      top: 0;
    }

    &__top {
      flex-direction: column;
    }
    
    &__phone {
      margin: 20px 0;
    }
  }
}