.logo {
  width: $logo-width;
  height: $logo-hight;
}

.section {
  position: relative;
  padding: 156px calc(50% - 470px);

  &:nth-child(even) {
    background-color: #eee;
  }

  &__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em;
  }

  &__gallery {
    margin-top: 30px;
  }

  &__content {
    width: 100%
  }
}

.heading {
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  width: max-content;
  position: absolute;
  white-space: nowrap;
  display: block;

  &%line {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    width: calc(50% - 19.5px);
    height: 2px;
    background-color: #00aaef;
  }

  &::before {
    @extend %line;
    left: 0;
  }

  &::after {
    @extend %line;
    right: 0;
  }

  &__crown {
    position: absolute;
    width: 20px;
    height: 13px;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../../images/crown.svg);
  }
}

.info {
  width: 940px;
  display: flex; 
  justify-content: space-between;
  
  &__heading {
    width: 314px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    margin: 0;
  }
  &__text {
    width: 564px;
    font-size: 16px;
    line-height: 24px;
    > :first-child  {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

.highlight {
  color: #00aaef;
}

.gallery {
  &__caption {
    margin: 12px 0 35px 0;
  }

  &__button {
    margin: auto;
  }
}

.button {
  border: none;
  display: block;
  color: white;
  background-color: #00aaef;
  padding: 19px 62px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $hover-duration;


  &:hover {
    background-color: #2f80ed;
  }
}

.photos {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - $image-gap);
    height: 260px;
    object-fit: cover;
  }

  &_wide_left {
    .photos__img{
      &:first-child {
        width: calc(67% - $image-gap)
      }

      &:last-child {
        width: calc(33% - $image-gap)
      }
    }
  }

  &_wide_right {
    .photos__img{
      &:first-child {
        width: calc(33% - $image-gap)
      }

      &:last-child {
        width: calc(67% - $image-gap)
      }
    }
  }
}

.consultation {
  display: flex;
  justify-content: space-between;

  &__text {
    width: 480px;
  }

  &__heading {
    font-size: 32px;
    line-height: 40px;
    margin: 0 24px 0;
  }

}

.form {
  display: flex;
  flex-direction: column;
  width: 380px;

  &__item {
    margin-bottom: 10px;
  }

  &__input, &__button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
}

.input {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  padding: 24px;
  text-align: center;
  color: #393939;
  background-color: #eee;
  border: none;
  box-sizing: border-box;
  line-height: 1;

  &::placeholder {
    color: inherit;
  }

  &__textarea {
    height: 166px;
  }
}

.testimonials {
  display: grid;
  grid-gap:  65px;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
}

.person {
  text-align: center;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__name {
    margin-top: 12px;
    font-weight: 700;
  }

  &__position {
    margin: 0;
    columns: #696973;
    font-style: italic;
  }

  &__text {
    position: relative;
    
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 33px;
      background-image: url("../../images/cuotes.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: calc(100% - 6px);
      bottom: calc(100% - 6px);
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 24px;
    width: 280px;
  }
}