@media screen and (max-width: 999px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__top {
    flex-direction: column;
  }

  .header__phone {
    margin: 20px 0;
  }

  .header__phone, .header.action{
    top: 0;
  }

  .section {
    padding: 40px 20px;
  }

  .info {
    flex-direction: column;

    &__heading, &__text {
      width: 100%;
      padding: 10px 0;
    }
  }

  .consultation {
    flex-direction: column;

    &__text, &__form {
      width: 100%;
    }
  }

  .contact {
    flex-direction: column;

    &__text, &__form {
      width: 100%;
    }
  }

  .testimonials {
    grid-template-columns: repeat(1, 200px);
  }

  .photos__img {
    width: calc(50%);
  }

  .photos {
    .photos__img {
      &:first-child{
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 649px) {
  .photos {
    flex-direction: column;

    &__img {
      width: 100%;
    }

    .photos__img {
      &:first-child{
        margin-bottom: 5px;
      }
    }

  }

  
}