@import "css_reset";

/* header begin */
.header {
  height: 765px;
  background-image: url("../../images/header/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  text-transform: uppercase;

  &__menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
  }
}

.wraper {
  position: relative;
  top: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  white-space: nowrap;

  &__img {
  width: 115px;
  height: 76px;
  }
}

.details {
  position: absolute;
  display: flex;
  margin: 47px 139px;
  left: 50%;
  top: 0px;
  white-space: nowrap;

  &__item {
    margin-left: 82px;
    position: relative;

    &::after {
      content: "";
      // height: 1px;
      line
      border: 1px dashed #fff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.menu {
  $active-color: #D5C5AA;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0 22.5px;
    padding: 7px 20px;
    border-radius: 10px;
    white-space: nowrap;

    &_is-active {
      background-color: $active-color;
      color: black;
    }  
  }
  
  &__link {
    text-decoration: none;
    color: white;

    &:hover {
      color: $active-color;
      transition: 0.5s;
    }
  }
}

@media screen and (max-width: 999px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__item_is-active {
    margin-left: 42.5px;
  }

  .details {
    flex-direction: column;
    margin-left: 80px;
  }
  .details__item {
    margin-left: 0;
  }
}

/* header end */