@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&display=swap');
$logo-width: 115px;
$logo-hight: 76px;
$ligth-active-color: #d5c5aa;
$hover-duration: 0.2s;
$image-gap: 10px;
@import "reset";
@import "header";
@import "nav";
@import "main";
@import "footer";
@import "media";

