@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500&display=swap');
@import "reset";
$logo-width: 115px;
$logo-hight: 76px;
$ligth-active-color: #d5c5aa;
$hover-duration: 0.2s;

.header {
  line-height: 1;
  height: 765px;
  background-image: url('../../images/header.jpg');
  background-size: cover;
  background-position: center;
  font-weight: 500;
  position: relative;

  &__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }

  &__top {
    position: absolute;
    display:flex;
    top: 35px;
    left: calc(50% - #{ $logo-width / 2 });
    text-transform: uppercase;
    color: white;
  }

  &__phone {
    margin: 0 82px;
  }

  &__phone, &__action {
    position: relative;
    top: $logo-hight * 0.62;
    white-space: nowrap;
  }

  &__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: color $hover-duration;

    &:hover{
      color: $ligth-active-color;
    }
  }
}

.nav {
  text-transform: uppercase;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 22.5px;
    padding: 7px 20px;
    white-space: nowrap;

    &_active {
      background-color: $ligth-active-color;
      border-radius: 10px;
    } 
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: color $hover-duration;

    &:hover {
      color: $ligth-active-color;
    }
  }
}

.logo {
  width: $logo-width;
  height: $logo-hight;
}

.section {
  position: relative;
  padding: 156px calc(50% - 470px);

  &:nth-child(even) {
    background-color: #eee;
  }

  &__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em;
  }
}

.heading {
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  width: max-content;
  position: absolute;
  white-space: nowrap;
  display: block;

  &%line {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    width: calc(50% - 19.5px);
    height: 2px;
    background-color: #00aaef;
  }

  &::before {
    @extend %line;
    left: 0;
  }

  &::after {
    @extend %line;
    right: 0;
  }

  &__crown {
    position: absolute;
    width: 20px;
    height: 13px;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../../images/crown.svg);
  }
}

.info {
  width: 940px;
  display: grid; 
  grid-template-areas: "heading text";
  grid-gap: 62px;
  &__heading {
    grid-area: heading;
    width: 314px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    margin: 0;
  }
  &__text {
    grid-area: text;
    grid-template-areas: "p1""p2""p3";
    grid-gap: 24px;
    > :first-child  {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__p1 {
    grid-area: p1;
  }
  &__p2 {
    grid-area: p2;
  }
  &__p3 {
    grid-area: p3;
  }
}

.highlight {
  color: #00aaef;
}

.footer {
  height: 540px;
  background-image: url('../../images/footer.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    position: absolute;
    display: flex;
    bottom: 95px;
    left: calc(50% - #{ $logo-width / 2 });
  }
}

@media screen and (max-width: 999px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__top {
    flex-direction: column;
  }

  .header__phone {
    margin: 20px 0;
  }

  .header__phone, .header.action{
    top: 0;
  }

  .section {
    padding: 20px;
  }
}