@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

.header {
  line-height: 1;
  height: 765px;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: center;
  font-weight: 500;
  position: relative;
}
.header__nav {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}
.header__top {
  position: absolute;
  display: flex;
  top: 35px;
  left: calc(50% - 57.5px);
  text-transform: uppercase;
  color: white;
}
.header__phone {
  margin: 0 82px;
}
.header__phone, .header__action {
  position: relative;
  top: 47.12px;
  white-space: nowrap;
}
.header__link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 0.2s;
}
.header__link:hover {
  color: #d5c5aa;
}

.nav {
  text-transform: uppercase;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav__item {
  margin: 0 22.5px;
  padding: 7px 20px;
  white-space: nowrap;
}
.nav__item_active {
  background-color: #d5c5aa;
  border-radius: 10px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.nav__link:hover {
  color: #d5c5aa;
}

.logo {
  width: 115px;
  height: 76px;
}

.section {
  position: relative;
  padding: 156px calc(50% - 470px);
}
.section:nth-child(even) {
  background-color: #eee;
}
.section__heading {
  left: 0;
  right: 0;
  margin: auto;
  top: -0.5em;
}

.heading {
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  width: max-content;
  position: absolute;
  white-space: nowrap;
  display: block;
}
.heading::after, .heading::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  width: calc(50% - 19.5px);
  height: 2px;
  background-color: #00aaef;
}
.heading::before {
  left: 0;
}
.heading::after {
  right: 0;
}
.heading__crown {
  position: absolute;
  width: 20px;
  height: 13px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../../images/crown.svg);
}

.info {
  width: 940px;
  display: grid;
  grid-template-areas: "heading text";
  grid-gap: 62px;
}
.info__heading {
  grid-area: heading;
  width: 314px;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
}
.info__text {
  grid-area: text;
  grid-template-areas: "p1" "p2" "p3";
  grid-gap: 24px;
}
.info__text > :first-child {
  margin-top: 0;
}
.info__text > :last-child {
  margin-bottom: 0;
}
.info__p1 {
  grid-area: p1;
}
.info__p2 {
  grid-area: p2;
}
.info__p3 {
  grid-area: p3;
}

.highlight {
  color: #00aaef;
}

.footer {
  height: 540px;
  background-image: url("../../images/footer.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer__logo {
  position: absolute;
  display: flex;
  bottom: 95px;
  left: calc(50% - 57.5px);
}

@media screen and (max-width: 999px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__top {
    flex-direction: column;
  }

  .header__phone {
    margin: 20px 0;
  }

  .header__phone, .header.action {
    top: 0;
  }

  .section {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
